absl-py==2.1.0
ace_tools==0.0
affine==2.4.0
aiobotocore==2.23.0
aiodns==3.4.0
aiofiles==24.1.0
aiogram==3.19.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aioitertools==0.12.0
aiosignal==1.3.2
alembic==1.13.2
analysis==0.1.7
annotated-types==0.7.0
anyio==4.6.0
apimoex==1.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
boto3==1.40.54
botocore==1.40.54
bounded-pool-executor==0.0.3
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1759755605562/work
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.2
captum==0.8.0
catboost==1.2.8
category_encoders==2.8.1
ccxt==4.4.86
certifi==2025.7.14
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
clarabel==0.9.0
click==8.1.7
click-plugins==1.1.1.2
cligj==0.7.2
cmdstanpy==1.2.4
coinmetrics-api-client==2025.5.6.13
colorama==0.4.6
colorlog==6.8.2
comm==0.2.2
contourpy==1.2.1
cryptography==45.0.3
curl_cffi==0.11.1
cvxpy==1.6.0
cycler==0.12.1
DAWG-Python==0.7.2
DAWG2-Python==0.9.0
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
docopt==0.6.2
earthaccess==0.14.0
earthengine-api==1.6.6
eclipse-sumo==1.21.0
ecos==2.0.14
elementpath==4.6.0
et-xmlfile==1.1.0
eval_type_backport==0.2.2
executing==2.0.1
fake-useragent==2.2.0
fastjsonschema==2.20.0
filelock==3.17.0
fiona==1.10.1
Flask==3.1.0
Flask-Limiter==3.9.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flatbuffers==24.3.25
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1750113804946/work
fonttools==4.53.1
fqdn==1.5.1
frozendict==2.4.4
frozenlist==1.5.0
fsspec==2023.12.2
gast==0.6.0
GDAL==3.9.3
geopandas==1.0.1
google-api-core==2.25.1
google-api-python-client==2.181.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==3.3.1
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
graphviz==0.20.3
greenlet==3.2.4
grpcio==1.68.0
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h2o==3.46.0.6
h5py==3.12.1
holidays==0.60
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
html5lib==1.1
httpcore==1.0.6
httplib2==0.31.0
httpx==0.28.1
huggingface-hub==0.31.2
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna==3.7
imageio==2.37.0
imbalanced-learn==0.13.0
imblearn==0.0
importlib_resources==6.4.5
inflate64==1.0.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.5
iso8601==2.1.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kagglehub==0.3.4
keras==3.8.0
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
lightgbm==3.3.5
lightning-utilities==0.14.3
limits==3.14.1
llvmlite==0.44.0
lxml==5.2.2
magic-filter==1.0.12
Mako==1.3.5
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1752271512095/work
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
medcoupling==9.13.0
mistralai==0.4.2
mistune==3.0.2
ml-dtypes==0.4.1
mlba==2.0.2
mlxtend==0.23.3
mpmath==1.3.0
multidict==6.1.0
multimethod==2.0
multitasking==0.0.11
multivolumefile==0.2.3
munkres==1.1.4
namex==0.0.8
narwhals==1.36.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
neuralprophet==0.8.0
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
npm==0.1.1
numba==0.61.0
numpy==2.2.6
opencv-python==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
optional-django==0.1.0
optree==0.13.1
optuna==3.6.1
optuna-integration==3.6.0
ordered-set==4.1.0
orjson==3.10.18
osmnx==2.0.1
osqp==0.6.7.post3
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandas-datareader==0.10.0
pandocfilters==1.5.1
parso==0.8.4
patsy==0.5.6
peewee==3.17.6
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
playwright==1.55.0
plotly==5.24.1
pluggy==1.5.0
polars==1.17.1
pqdm==0.2.0
prometheus_client==0.21.0
prompt_toolkit==3.0.47
propcache==0.2.1
prophet==1.1.6
proto-plus==1.26.1
protobuf==5.28.3
psutil==6.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
py7zr==0.22.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybcj==1.0.3
pycares==4.8.0
pycparser==2.22
pycryptodomex==3.21.0
pydantic==2.10.6
pydantic_core==2.27.2
pyee==13.0.0
Pygments==2.18.0
pykml==0.2.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pymorphy3==2.0.3
pymorphy3-dicts-ru==2.4.417150.4580142
pyogrio==0.10.0
pyparsing==3.1.2
pyportfolioopt==1.5.6
pyppmd==1.1.1
pyproj==3.7.0
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.2
PySocks==1.7.1
pytest==8.3.3
python-bitcoinrpc==1.0
python-cmr==0.13.0
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pytorch-lightning==1.9.5
pytrends==4.9.2
pytz==2024.1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.2
pyzmq==26.0.3
pyzstd==0.16.2
qdldl==0.1.7.post4
rasterio==1.4.3
referencing==0.35.1
regex==2024.11.6
requests==2.32.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.0
rsa==4.9.1
s3fs==2023.12.2
s3transfer==0.14.0
sanpy==0.12.3
schedule==1.2.2
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.14.0
scs==3.2.7
seaborn==0.13.2
selenium==4.23.1
Send2Trash==1.8.3
setuptools==75.1.0
shapely==2.0.7
shellingham==1.5.4
six==1.16.0
sklearn-compat==0.1.3
sklearn-crfsuite==0.5.0
sniffio==1.3.1
snscrape @ file:///C:/Users/Admin/Desktop/2025/%D0%A3%D1%87%D1%91%D0%B1%D0%B0/%D0%94%D0%B8%D0%BF%D0%BB%D0%BE%D0%BC/diplom/snscrape
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1733818638588/work
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.32
stack-data==0.6.3
stanio==0.5.1
statsmodels==0.14.2
sumolib==1.21.0
sympy==1.13.3
ta==0.11.0
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
terminado==0.18.1
textblob==0.19.0
textify==0.0.1
texttable==1.7.0
threadpoolctl==3.5.0
tifffile==2025.6.11
tinycss2==1.3.0
tinynetrc==1.3.1
torch==2.7.0+cpu
torch-geometric==2.6.1
torchmetrics==1.7.1
tornado==6.4.1
tqdm==4.66.5
traci==1.21.0
traitlets==5.14.3
trio==0.26.2
trio-websocket==0.11.1
typer==0.15.4
types-python-dateutil==2.9.0.20241003
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.1
unicodedata2 @ file:///D:/bld/unicodedata2_1756494484687/work
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.5.0
wcwidth==0.2.13
webcolors==24.8.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.44.0
widgetsnbextension==4.0.13
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.2.1
xgboost==2.1.2
xlrd==2.0.1
XlsxWriter==3.2.0
xmlschema==3.4.2
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1745598038694/work
yadisk==3.4.0
yarl==1.18.3
yfinance==0.2.61
zstandard==0.25.0
