name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy_bank:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn catboost flask flake8

      - name: Lint code with flake8
        run: |
          flake8 .

      - name: Run backend (main.py)
        run: |
          echo "Запуск Flask-приложения"
          python main.py &
          sleep 10   # даём серверу подняться
          curl http://127.0.0.1:5000 || true
